NEXTAUTH_SECRET=troque-esta-chave-no-servidor
POSTGRES_PASSWORD=troque-esta-senha-no-servidor
DATABASE_URL=postgresql://grilotv:troque-esta-senha-no-servidor@db:5432/iptv?schema=public
SEED_ADMIN_PASSWORD=troque-esta-senha-admin-no-servidor
SEED_MP_ACCESS_TOKEN=
SEED_EXPFY_PUBLIC_KEY=
SEED_EXPFY_SECRET_KEY=
